
$maCouleur: #ff0000; 


.helloWorld {
  color: $maCouleur;
}

$even-color: navy;
$odd-color: black;

li {
  padding: 5px;
  &:nth-child(even) {
    color: $even-color;
  }

  &:nth-child(odd) {
    color: $odd-color;
  }
}


.name-form {
  label {
    display: block;
    margin-bottom: 8px;
  }

  input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
  }

  input[type="color"] {
    margin-left: 8px;
  }

  p {
    font-size: 18px;
  }
}
